_site
.sass-cache
.jekyll-metadata


.project
.classpath
target
.settings
.DS_Store
*.svn*
.svn
*.iml
.idea
bak
logs
build

node_modules
*.idea/*

/node_modules
/dist /build
/.tmp
/.sass-cache
/bower_components

/.sass-cache
./npm-debug.log

/longdai-service/src/main/resources/generatorConfig.xml
