<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.data.common.RSS %}
                    <li>
                        <a href="/feed.xml">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.data.common.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.data.common.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by Hux -->
                    {% if site.data.common.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/liu-tong-bin-17">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.data.common.weibo_username %}
                    <li>
                        <a target="_blank" href="https://weibo.com/3151133253/profile?topnav=1&wvr=6&is_all=1">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    <!-- {% if site.data.common.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100004675021382">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %} -->
                    {% if site.data.common.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/liutongbin2017">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.data.common.title }} {{ site.time | date: '%Y' }} |
                    <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="91px"
                        height="20px"
                        src="https://ghbtns.com/github-btn.html?user=liutongbin2017&repo=react-web&type=star&count=true">
                    </iframe>
                </p>
            </div>
        </div>
        <iframe src="https://zhanyuzhang.github.io/lovely-cat/cat.html" id="catIframe" frameborder='0'
            style="position: fixed;top: 50%;right: 16%;"></iframe>

    </div>
</footer>

<!-- jQuery -->
<!--<script src="/assets/scripts/jquery.min.js "></script>-->
<script src="{{ site.data.common.cdn | append: 'scripts/jquery.min.js' }}"></script>

<script src="{{ site.data.common.cdn | append: 'scripts/jquery.auto-complete.min.js' }}"></script>

<script src="{{ site.data.common.cdn | append: 'scripts/highlight.min.js' }}"></script>
<!-- Bootstrap Core JavaScript -->
<!--<script src="/assets/scripts/bootstrap.min.js"></script>-->
<script src="{{ site.data.common.cdn | append: 'scripts/bootstrap.min.js' }}"></script>


<!--<script type="text/javascript" color="0,229,238" opacity='0.5' zIndex="-2" count="100" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>-->


<!--<script src="https://cdn.bootcss.com/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>-->
<script src="{{ site.data.common.cdn | append: 'scripts/fastclick.min.js' }}"></script>


<script src="{{ site.data.common.cdn | append: 'scripts/jquery.tagcloud.js' }}"></script>

<script src="{{ site.data.common.cdn | append: 'scripts/toc.js' }}"></script>
<script src="{{ site.data.common.cdn | append: 'scripts/custom.js' }}"></script>

<!--<script src="http://127.0.0.1:4000/assets/scripts/toc.js"></script>-->
<!--<script src="http://127.0.0.1:4000/assets/scripts/custom.js"></script>-->
<!--<script src="http://127.0.0.1:4000/assets/scripts/jquery.nav.js"></script>-->



<!-- async load function -->
<!--<script>-->
<!--function async(u, c) {-->
<!--var d = document, t = 'script',-->
<!--o = d.createElement(t),-->
<!--s = d.getElementsByTagName(t)[0];-->
<!--o.src = u;-->
<!--if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }-->
<!--s.parentNode.insertBefore(o, s);-->
<!--}-->
<!--</script>-->




<!--
     Because of the native support for backtick-style fenced code blocks
     right within the Markdown is landed in Github Pages,
     From V1.6, There is no need for Highlight.js,
     so Huxblog drops it officially.

     - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0
     - https://help.github.com/articles/creating-and-highlighting-code-blocks/
-->




<!--fastClick.js -->


<!-- Google Analytics -->
{% if site.data.common.ga_track_id %}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107257239-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-107257239-1');
</script>

{% endif %}


<script>
    (function (window, document, undefined) {
        var hearts = [];
        window.requestAnimationFrame = (function () {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimationFrame ||
                function (callback) {
                    setTimeout(callback, 1000 / 60);
                }
        })();
        init();

        function init() {
            css(
                ".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: fixed;}.heart:after{top: -5px;}.heart:before{left: -5px;}"
            );
            attachEvent();
            gameloop();
        }

        function gameloop() {
            for (var i = 0; i < hearts.length; i++) {
                if (hearts[i].alpha <= 0) {
                    document.body.removeChild(hearts[i].el);
                    hearts.splice(i, 1);
                    continue;
                }
                hearts[i].y--;
                hearts[i].scale += 0.004;
                hearts[i].alpha -= 0.013;
                hearts[i].el.style.cssText = "left:" + hearts[i].x + "px;top:" + hearts[i].y + "px;opacity:" +
                    hearts[i].alpha + ";transform:scale(" + hearts[i].scale + "," + hearts[i].scale +
                    ") rotate(45deg);background:" + hearts[i].color + ";z-index:99999";
            }
            requestAnimationFrame(gameloop);
        }

        function attachEvent() {
            var old = typeof window.onclick === "function" && window.onclick;
            window.onclick = function (event) {
                old && old();
                createHeart(event);
            }
        }

        function createHeart(event) {
            var d = document.createElement("div");
            d.className = "heart";
            hearts.push({
                el: d,
                x: event.clientX - 5,
                y: event.clientY - 5,
                scale: 1,
                alpha: 1,
                color: randomColor()
            });
            document.body.appendChild(d);
        }

        function css(css) {
            var style = document.createElement("style");
            style.type = "text/css";
            try {
                style.appendChild(document.createTextNode(css));
            } catch (ex) {
                style.styleSheet.cssText = css;
            }
            document.getElementsByTagName('head')[0].appendChild(style);
        }

        function randomColor() {
            return "rgb(" + (~~(Math.random() * 255)) + "," + (~~(Math.random() * 255)) + "," + (~~(Math.random() *
                255)) + ")";
        }
    })(window, document);
</script>